<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>修改密码界面</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/login.css" rel="stylesheet" />
    <script src="../js/jquery-3.3.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("input").focus(function () {
                $(this).css("background-color", "#C7DDEF");
            });
            $("input").blur(function () {
                $(this).css("background-color", "#ffffff");
            });
            $(function () {
                $('#password').focus(function () {
                    $('#worry1').text('');
                });
                $('#password').blur(function () {
                    var l = $(this).val();
                    var len = l.length;
                    if (len < 6 || len > 12)
                        $('#password').after('<font id="worry1" color="red">密码长度必须大于等于6，小于等于12</font>');
                });
            });
        })

    </script>
</head>
<body>
        <div class="text-center">
            <h2>修改密码</h2><br />
        </div><br />

        <form class="fi form-signin" action="repassword" method="post">
            <input type="text" id="yanzhengma" name="yanzhengma" class="form-control" placeholder="请输入验证码(长度为6位)" required="" autofocus=""/><br>
            <input type="password" id="password" name="newpassword" class="form-control" placeholder="请输入新密码(长度为6~12位)" required="" autofocus=""/><br>
            <input type="password" id="password" name="repeatpassword" class="form-control" placeholder="再一次输入密码(长度为6~12位)" required="" autofocus=""/><br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">确认修改</button><br />
        </form>

        <footer class="text-center">
            <p >Copyright&copy; 2020-2021</p>
        </footer>
</body>
</html>




