<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>发送邮箱验证码界面</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/login.css" rel="stylesheet" />
    <script src="../js/jquery-3.3.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("input").focus(function(){
                $(this).css("background-color","#C7DDEF");
            });
            $("input").blur(function(){
                $(this).css("background-color","#FFFFFF");
            });

            $(function () {
                $('#email').focus(function () {
                    $('#worry2').text('');
                });
                $('#email').blur(function () {
                    var myemail=$(this).val();
                    var myReg=/^[a-zA-Z0-9_-]+@([a-zA-Z0-9]+\.)+(com|cn|net|org)$/;

                    if(myReg.test(myemail)){
                        return true;
                    }else {
                        $('#email').after('<font id="worry2" color="red">邮箱格式错误,请重新输入</font>');
                        return false;
                    }
                });
            });

        });

        function backword() {
            window.location.href="login.html";
        }

    </script>
</head>
<body>
    <div class="text-center">
        <h2>发送验证码</h2><br />
    </div><br />

    <form class="fi form-signin" action="send" method="get">
        <input type="email" id="name" name="email" class="form-control" placeholder="请输入账号(邮箱)" required="" autofocus=""/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">发送邮件</button><br />
        <button class="btn btn-lg btn-primary btn-block" type="button" onclick="backword()">返回登陆页面</button>
    </form>


    <footer class="text-center">
        <p >Copyright&copy; 2020-2021</p>
    </footer>
</body>

</html>

